<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda MySQL con Flask - {% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>

<body style="background: #d0c8e7;">
    <nav class="navbar navbar-light navbar-expand-md" style="background: #e70059;">
        <div class="container-fluid"><a class="navbar-brand" href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRo_3lRx9pDjh04FGiUynm8k885tDIwWu9wH0sDnxN_CyE00K0q45Fq77PGtivVyLtyWp8&usqp=CAU" style="max-height: 150px;">         
    </nav>

    <nav class="navbar is-warning" role="navigation" aria-label="main navigation">
        <a class="navbar-item"><b>SOLO CONTACTOS</b></a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                            <strong>Valeria Melendez Torres</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    {%block contenido %} {% endblock %}
</body>

</html>